<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <img
      src="../../../assets/logo/sfondo nero.png"
      alt=""
      class="w-50 object-fit-cover h-50"
    />
  </div>
  <h3 class="sub-title">Top Rate</h3>
  <div class="slider">
    <div class="row flex-nowrap">
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
    </div>
  </div>
  <h3 class="sub-title">Top ten</h3>
  <div class="slider">
    <div class="row flex-nowrap">
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
    </div>
  </div>
  <h3 class="sub-title">Top ten</h3>
  <div class="slider">
    <div class="row flex-nowrap">
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <app-card></app-card>
      </div>
    </div>
  </div>
</div>
