/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
:root {
  --colore-navbar: #4b7168;
  --colore-li-snavbar: #c0bcb5;
  --colore-button: #c2b999;
  --colore-active: #cec9a9;
  --colore-delete: #914e4e;
  --colore-view: #596057;
  --colore-edit: #988b75;
  --colore-form: #1a3439;
}
/* Per i browser WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Larghezza della scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --colore-button
  ); /* Colore della parte "thumb" (il pulsante trascinabile) */
  border-radius: 10px; /* Bordo arrotondato della parte "thumb" */
}

::-webkit-scrollbar-track {
  background-color: var(
    --colore-active
  ); /* Colore della parte "track" (la parte fissa) */
}

/* Per i browser Firefox */
/* Nota: Al momento, Firefox non supporta la personalizzazione avanzata della scrollbar tramite CSS */
/* Questo stile è un fallback generico */
::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-thumb {
  background-color: var(--colore-button);
  border-radius: 10px;
}

::-moz-scrollbar-track {
  background-color: var(--colore-background);
}
